* {
    padding: 0;
    margin: 0;
}

#logo {
    font-size: 28px;
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    margin-bottom: 24px;
}

p {
    font-size: 16px;
}

#navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.navigationLink {
    color: rgb(98, 98, 98);
    text-decoration: none;
}

header {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(158, 158, 158);
}

img {
    width: 50%;
}

#section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#section1Links {
    margin-top: 32px;
}

.primaryLink {
    display: inline-block;
    background-color: black;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    border-radius: 4px;
}